* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A02323;
    padding: 10px;
}

.logo {
    height: 50px;
    margin-left: 30px;
    margin-right: 10px;
}

.tema {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temas {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 70px;
}

main {
    display: flex;
    flex-direction: column;
}

.titulo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.localizaçao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

section {
    margin-left: 10px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: #3D3D3D;
    padding: 20px;
}

.rodape__link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.temas:hover {
    color: gray;
}

.projeto__btn:hover {
    color: gray;
}

.container__saibamais:hover {
    color: gray;
}

.sustentabilidade__link a:hover {
    background-color: #719B25;
    color: #DFE9DC;
}